body {
  margin: 0 auto;
  text-align: center;
  box-sizing: border-box;
}

/*    ****  STARTING WITH APPLYING RULES FOR SMALL SCREENS*****    */

/*#scrX, #scrY, #boardArea{
  float: left;
}*/

#scrX, #scrY {
  float: left;
}



h2 {
  color: #FFDF00;
  text-shadow:1px -1px 2px #6e2106;
  font-weight:100;
  letter-spacing:2pt;
  word-spacing:5pt;
  font-size:1em;
  font-family:helvetica, sans-serif;
  padding: 0.5em;
  margin-top: 3em;

}

#boardArea {
  /*background-color: pink;*/
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  margin-top: 5em;
}



#gameArea {
  margin: 0 auto;
  width: 464px;
  height: 464px;
  /*border: 0.1em solid #fff7cc;*/
  /*border: 0.1em solid #b8e2fc;*/
}

.boxes {
  cursor: cursor;
  font-size: 0;
  background-color: #E0FFFF;
  width: 150px;
  height: 150px;
  transition: .8s;

  border: 1px solid #d3d3d3;
  display: inline-block;
  /*float: left;*/
}

.boxes:hover {
  background-color: #b8e2fc;
  border: 2em solid grey;
}


h1 {
  color: #FFDF00;
  text-shadow:1px -1px 2px #6e2106;
  font-weight:200;
  letter-spacing:2pt;
  word-spacing:5pt;
  font-size:1em;
  font-family:helvetica, sans-serif;
  padding: 0.5em;
  margin-top: 3em;
}


#x_dog {
  background-image: url("images/x.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-block;
  width: 150px;
  height: 150px;
}

#o_cat {
  background-image: url("images/o_.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-block;
  width: 150px;
  height: 150px;
}

.dogX, .catO {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: inline-block;
  width: 464px;
  height: 464px;
  text-align: center;
  margin: 0 auto;
  border: 1px solid grey;
}

.catO {
  background-image: url("images/cat_o.jpg");
}

.dogX {
  background-image: url("images/dog_x.jpg");
}


@media (max-width: 800px) {

  h1{
    font-size: 0.8em;
  }

  .boxes, #o_cat, #x_dog {
    height: 100px;
    width: 100px;
  }
  #gameArea, .dogX, .catO  {
    margin: 0 auto;
    width: 314px;
    height: 314px;
  }
}
