body {
  margin: 0 auto;
  text-align: center;
  box-sizing: border-box;
}

/*    ****  STARTING WITH APPLYING RULES FOR SMALL SCREENS*****    */

#boardArea {
  /*background-color: pink;*/
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  margin-top: 2em;
}



#gameArea {
  margin: 0 auto;
  width: 631px;
  height: 632px;
  /*border: 0.1em solid #fff7cc;*/
  border: 0.1em dashed #b8e2fc;

  /*height: 80%;*/
  /*background-color: yellow;*/
}

.boxes {
  cursor: cursor;
  font-size: 0;
  background-color: #E0FFFF;
  width: 205px;
  height: 205px;
  transition: .8s;

  border: 1px solid #d3d3d3;
  display: inline-block;
  /*float: left;*/
}

.boxes:hover {
  background-color: #F5F5F5;
}



h1 {
  color: #FFDF00;
  text-shadow:1px -1px 2px #6e2106;
  font-weight:200;
  letter-spacing:2pt;
  word-spacing:5pt;
  font-size:1em;
  font-family:helvetica, sans-serif;
  padding: 0.5em;
  margin-top: 1em;
}


#x_dog {
  background-image: url("images/x.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-block;
  width: 205px;
  height: 205px;
}

#o_cat {
  background-image: url("images/o_.jpg");
  background-repeat: no-repeat;
  display: inline-block;
  width: 205px;
  height: 205px;
}

.dogX, .catO {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: inline-block;
  width: 631px;
  height: 632px;
  text-align: center;
  margin: 0 auto;
}

.catO {
  background-image: url("images/cat_o.jpg");
}

.dogX {
  background-image: url("images/dog_x.jpg");
}

/*#winScreen{
  display: none;
}*/

/*@media (max-width: 800px) {

  .boxes {
    height: 220px;
    width: 220px;
    font-size: 1.6em;
  }
}*/
